#outputContainer {

}

#outputContainer > div {
  margin: 16px;
  padding: 24px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.urlContainer {
  padding: 16px;
  font-size: 1.6rem;
  font-weight: bold;
}

.pageTextContainer {
  white-space: pre-wrap;
  position: relative;
}

.pageTextContainer.textSliced:after {
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(
    rgba(255,255,255, 0.75),
    rgba(255,255,255, 0),
    rgba(255,255,255, 0.75)
  );
  pointer-events: none; /* so the text is still selectable */
}

#inputQuery {
  height: 40px;
  font-size: 18px;
}

.highlighted {
  background-color: yellow;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-purple-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input[type=text] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
